 *{
    /* padding: 10px;
    margin: 2px solid black; */
     box-sizing: border-box;
}
h1{
    text-align: center;
    color: red;

}
.maincontainer{
    width: 800px;
    /* height: 800px; */
     /* border: 2px solid black; */
    /* padding: 10px;
    margin: 10px; */
    flex-wrap: wrap;




}
.container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8{
     /* width: 750px; */
    /* height: 150px;
    width: auto; */
    /* border: 2px solid black; */
    /* padding: 10px;
    margin: 10px; */
    display: flex;

}
.item{
     width: 100px;
     height: 100px;
    border: 2px solid black;
    /* padding: 10px;
    margin: 10px; */
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    transition: 0.3s ease;

}
.container1>.item:nth-child(odd),
.container3>.item:nth-child(odd),
.container5>.item:nth-child(odd),
.container7>.item:nth-child(odd),

.container2>.item:nth-child(even),
.container4>.item:nth-child(even),
.container6>.item:nth-child(even),
.container8>.item:nth-child(even)
{
    background-color: green;
}
.item:hover{
    font-size: 80px;
    

}


